body{
    direction: rtl;
    text-align: right;
}
ul.navbar-nav.mr-auto{
    margin-right: initial !important;
    margin-left: auto;
}

.blog-meta small:after {
    content: "/";
    padding-right: 1rem !important;
}

.blog-list .blog-meta.big-meta h4 {
    margin-right: -20%;
    margin-top: 1rem;
    background-color: #ffffff;
    padding: 1rem 1.5rem 1rem;
}

div.tab {
    float: right;
    padding: 2rem 0;
    border-right: 1px solid #e1e3e6;
    width: 20%;
    background-color: #edeff2;
}

.size-pic-slide{
    height: 350px;
    width: 22%;
}

.logo-pic{
    height: 50px;
    width: 50px;
}
