{% extends 'shared/base.html' %}
{% load static %}
{% load humanize %}

{% block slide %}
    <div class="masonry-blog clearfix">
    {% for article in object_list|slice:":4" %}
    <div class="second-slot">
        <div class="masonry-box post-media">
             <img src="{{ article.thumpnail.url }}" alt="" class="img-fluid size-pic-slide">
             <div class="shadoweffect">
                <div class="shadow-desc">
                    <div class="blog-meta">
                        {% for category in article.category.get_active_category %}
                        <span class="bg-orange"><a href="{% url 'news:CategoryView' category.slug %}" title="">{{category.title}}</a></span>
                        {% endfor %}
                        <h4><a href="{% url 'news:articledetail' article.slug %}" title="">{{article.title}}</a></h4>
                        <small>{{article.publish|naturaltime}}</small>
                        <small><a href="{% url 'news:AuthorView' article.author %}" title="">نویسنده {{article.author.get_full_name}}</a></small>
                    </div><!-- end meta -->
                </div><!-- end shadow-desc -->
             </div><!-- end shadow -->
        </div><!-- end post-media -->
    </div><!-- end second-side -->
    {% endfor %}
    </div>
{% endblock slide %}

{% block main %}
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-top clearfix">
                                <h4 class="pull-right"><i class="fa fa-rss"></i> {% block title %} {% endblock title %} </h4>
                            </div><!-- end blog-top -->

                            <div class="blog-list clearfix">
                                {% for article in object_list|slice:"4:" %}
                                    <div class="blog-box row">
                                        <div class="col-md-4">
                                            <div class="post-media">
                                                <a href="{% url 'news:articledetail' article.slug %}" title="">
                                                    <img src="{{article.thumpnail.url}}" alt="" class="img-fluid">
                                                    <div class="hovereffect"></div>
                                                </a>
                                            </div><!-- end media -->
                                        </div><!-- end col -->

                                        <div class="blog-meta big-meta col-md-8">
                                            <h4><a href="{% url 'news:articledetail' article.slug %}" title="">{{article.title}}</a></h4>
                                            <p>{{article.description|striptags|truncatewords:60}}</p>
                                            {% for category in article.category.get_active_category %}
                                            <small class="firstsmall"><a class="bg-orange" href="{% url 'news:CategoryView' category.slug %}" title=""> {{category}}</a></small>                                              
                                            {% endfor %}
                                            <small>{{article.publish|naturaltime}}</small>
                                            <small> <a href="{% url 'news:AuthorView' article.author %}">نویسنده {{article.author}}</a></small>
                                            <small><i class="fa fa-eye"></i>  {{article.hits.count}}</small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->

                                    <hr class="invis">
                                    
                                {% endfor %}
                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="{% block previous_page_url %}{% endblock %}">صفحه قبل</a>
                                        </li>
                                        {% endif %}
                                        {% for page in paginator.page_range %}
                                        {% if page == page_obj.number %}
                                        <li class="page-item active"><a class="page-link" href="{% block active_page %}{% endblock %}">{{page}}</a></li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="{% block unactive_page %}{% endblock %}">{{page}}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="{% block next_page_url %}{% endblock %}">صفحه بعد</a>
                                        </li>
                                        {% endif %}
                        
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
    </div><!-- end col -->
{% endblock main %}

{% block trend_video %}
    {% include 'shared/trend_video.html' %}  
{% endblock trend_video %}