{% extends 'shared/base.html' %}
{% load static %}
{% load humanize %}

{% block slide %}
    <div class="masonry-blog clearfix">
    <div class="first-slot">
        <div class="masonry-box post-media">
             <img src="{% static "upload/tech_01.jpg" %}" alt="" class="img-fluid">
             <div class="shadoweffect">
                <div class="shadow-desc">
                    <div class="blog-meta">
                        <span class="bg-orange"><a href="tech-category-01.html" title="">Technology</a></span>
                        <h4><a href="tech-single.html" title="">Say hello to real handmade office furniture! Clean & beautiful design</a></h4>
                        <small><a href="tech-single.html" title="">24 July, 2017</a></small>
                        <small><a href="tech-author.html" title="">by Amanda</a></small>
                    </div><!-- end meta -->
                </div><!-- end shadow-desc -->
            </div><!-- end shadow -->
        </div><!-- end post-media -->
    </div><!-- end first-side -->

    <div class="second-slot">
        <div class="masonry-box post-media">
             <img src="{% static "upload/tech_02.jpg" %}" alt="" class="img-fluid">
             <div class="shadoweffect">
                <div class="shadow-desc">
                    <div class="blog-meta">
                        <span class="bg-orange"><a href="tech-category-01.html" title="">Gadgets</a></span>
                        <h4><a href="tech-single.html" title="">Do not make mistakes when choosing web hosting</a></h4>
                        <small><a href="tech-single.html" title="">03 July, 2017</a></small>
                        <small><a href="tech-author.html" title="">by Jessica</a></small>
                    </div><!-- end meta -->
                </div><!-- end shadow-desc -->
             </div><!-- end shadow -->
        </div><!-- end post-media -->
    </div><!-- end second-side -->

    <div class="last-slot">
        <div class="masonry-box post-media">
             <img src="{% static "upload/tech_03.jpg" %}" alt="" class="img-fluid">
             <div class="shadoweffect">
                <div class="shadow-desc">
                    <div class="blog-meta">
                        <span class="bg-orange"><a href="tech-category-01.html" title="">Technology</a></span>
                        <h4><a href="tech-single.html" title="">The most reliable Galaxy Note 8 images leaked</a></h4>
                        <small><a href="tech-single.html" title="">01 July, 2017</a></small>
                        <small><a href="tech-author.html" title="">by Jessica</a></small>
                    </div><!-- end meta -->
                </div><!-- end shadow-desc -->
             </div><!-- end shadow -->
        </div><!-- end post-media -->
    </div><!-- end second-side -->
    </div><!-- end masonry -->
{% endblock slide %}

{% block main %}
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-top clearfix">
                                <h4 class="pull-right"><i class="fa fa-rss"></i> جدیدترین اخبار </h4>
                            </div><!-- end blog-top -->

                            <div class="blog-list clearfix">
                                {% for article in object_list %}
                                    <div class="blog-box row">
                                        <div class="col-md-4">
                                            <div class="post-media">
                                                <a href="{% url 'news:articledetail' article.slug %}" title="">
                                                    <img src="{{article.thumpnail.url}}" alt="" class="img-fluid">
                                                    <div class="hovereffect"></div>
                                                </a>
                                            </div><!-- end media -->
                                        </div><!-- end col -->

                                        <div class="blog-meta big-meta col-md-8">
                                            <h4><a href="{% url 'news:articledetail' article.slug %}" title="">{{article.title}}</a></h4>
                                            <p>{{article.description|striptags|truncatewords:60}}</p>
                                            {% for category in article.category.get_active_category %}
                                            <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title=""> {{category}}</a></small>                                              
                                            {% endfor %}
                                            <small>{{article.publish|naturaltime}}</small>
                                            <small> نویسنده {{article.author}}</small>
                                            <small><i class="fa fa-eye"></i>  {{article.hits.count}}</small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->

                                    <hr class="invis">
                                    
                                {% endfor %}
                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        {% include 'shared/pagination.html' %}
    </div><!-- end col -->
{% endblock main %}