{% extends 'shared/list-without-slot.html' %}

{% block title %}
   دسته بندی نویسنده   {{ author.get_full_name }}
{% endblock title %}



{% block previous_page_url %}
    {% url 'news:AuthorView' author.username page_obj.previous_page_number %}
{% endblock %}



{% block active_page %}
    {% url 'news:AuthorView' author.username page %}
{% endblock %}



{% block unactive_page %}
    {% url 'news:AuthorView' author.username page %}
{% endblock %}


{% block next_page_url %}
    {% url 'news:AuthorView' author.username page_obj.next_page_number %}
{% endblock %}
