{% load static %}

<header class="tech-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="tech-index.html"><img src="{% static "news/images/version/Photo_1627199326088.png" %}" class="logo-pic" alt="logo"></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">سلام {{ request.user.get_full_name }} !</a>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:home' %}"><i class="fa fa-pen-alt"></i> میز کار</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"> <i class="fa fa-sign-in"></i>  ورود به سایت   </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news:articlelist' %}"><i class="fa fa-home"></i> خانه</a>
                    </li>
                    <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> اخبار</a>
                        <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            <li>
                                <div class="container">
                                    <div class="mega-menu-content clearfix">
                                        <div class="tab">                                        
                                            {% for category in categories|slice:":10" %}
                                            <button class="tablinks" onclick="openCategory(event, '{{category.slug}}')">{{category.title}}</button>                                          
                                            {% endfor %}
                                        </div>
                                        <div class="tab-details clearfix">
                                            {% for category in categories|slice:":10" %}                                    
                                            <div id="{{category.slug}}" class="tabcontent active">
                                                <div class="row">
                                                    {% for article in category.articles.get_published_article|slice:":5" %}
                                                    
                                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="blog-box">
                                                            <div class="post-media">
                                                                <a href="tech-single.html" title="">
                                                                    <img src="{{article.thumpnail.url}}" alt="" class="img-fluid">
                                                                    <div class="hovereffect">
                                                                    </div><!-- end hover -->
                                                                    {% for category in article.category.get_active_category %}
                                                                    
                                                                    <span class="menucat">{{category.title}}</span>
                                                                    
                                                                    {% endfor %}
                                                                </a>
                                                            </div><!-- end media -->
                                                            <div class="blog-meta">
                                                                <h4><a href="tech-single.html" title="">{{article.title}}</a></h4>
                                                            </div><!-- end meta -->
                                                        </div><!-- end blog-box -->
                                                    </div>
                                                    
                                                    {% endfor %}
                                                </div><!-- end row -->
                                            </div>                                                           
                                            {% endfor %}
                                        </div><!-- end tab-details -->
                                        
                                    </div><!-- end mega-menu-content -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:contact' %}">تماس با ما</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-rss"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </div><!-- end container-fluid -->
</header><!-- end market-header -->